.btn {
  padding-block: 0.35rem;
  padding-inline: 0.75rem;

  border: none;
  background-color: var(--color-secondary);

  color: var(--color-text);

  cursor: pointer;

  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 0 0 0 999px rgba(95, 158, 160, 0.5);

    transform: translateY(-1px) scale(1.02);
  }

  &:focus-visible {
    outline: 2px solid var(--color-text);
    outline-offset: 2px;
  }
}
