.search-and-favs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.search {
  &__form {
    display: flex;
    gap: 0.25rem;
  }

  &__input {
    flex-grow: 1;
    outline: none;
    padding-block: 0.3rem;

    border: none;
    border-bottom: 1px solid var(--color-text);
    border-radius: 0;
    background-color: var(--color-bg);

    color: var(--color-text);
    font-size: 1rem;

    &:focus-visible {
      outline: 1px solid var(--color-text);
      outline-offset: 2px;
      border-radius: 1px;
    }

    @media (width > 768px) {
      font-size: 0.85rem;
    }
  }
}

.favorites {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
  }

  &__item {
    list-style-type: none;

    display: flex;
    align-items: center;

    margin-bottom: 0.25rem;
  }

  &__img {
    width: 36px;
  }

  &__text {
    margin-left: 1rem;
    font-size: 1rem;

    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (width > 768px) {
      font-size: 0.85rem;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    width: 42px;
    height: 42px;
    // padding: 1rem;

    background-color: var(--color-bg);
    border: none;
    color: var(--color-text);

    cursor: pointer;

    position: relative;

    @media (width > 768px) {
      width: 24px;
      height: 24px;
    }

    // Favorecer la accesibilidad con teclado
    &:focus-visible {
      outline: 1px solid var(--color-text);
      outline-offset: 2px;
      border-radius: 5px;
    }

    // Ambos iconos
    & .icon-broken,
    & .icon-heart {
      position: absolute;
      margin: auto;
      inset: 0;

      width: 32px;
      height: 32px;

      transition:
        opacity 0.3s ease,
        transform 0.3s ease;

      @media (width > 768px) {
        width: 24px;
        height: 24px;
      }
    }

    // Estado inicial
    & .icon-heart {
      opacity: 1;
      transform: scale(1);
    }

    & .icon-broken {
      opacity: 0;
      transform: scale(0.8);
    }

    // hover
    &:hover .icon-heart {
      opacity: 0;
      transform: scale(0.8);
    }

    &:hover .icon-broken {
      opacity: 1;
      transform: scale(1.15);
    }
  }

  &__remove {
    align-self: center;
    margin-block: 0.75rem;
  }
}
