.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding-block: 1.5rem;

  border-top: 3px solid var(--color-text-muted);

  @media (width > 768px) {
    flex-direction: row;
    gap: 3rem;
  }

  &__copy,
  &__api {
    font-size: 0.85rem;
  }

  &__copy strong,
  &__api strong {
    font-weight: 500;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 0.15rem;

    color: var(--color-text);
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration-line: none;
    transition: transform 0.2s linear;

    & .icon-github {
      width: 18px;
      height: 18px;
    }

    &:hover {
      transform: translateY(-1px);
      text-decoration: underline;

      & .icon-github {
        transform: scale(1.1);
      }
    }
  }
}
